<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlessingChannel.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>379ECACE87AFA5552625DD1B1574CA7002D58625</string>
				<key>dateExpires</key>
				<string>6/5/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>379ECACE87AFA5552625DD1B1574CA7002D58625</string>
						<key>dateExpires</key>
						<string>6/5/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9KDUS59PR5</string>
						<key>name</key>
						<string>Dong Jun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>5.10.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>379ECACE87AFA5552625DD1B1574CA7002D58625</string>
						<key>dateExpires</key>
						<string>6/5/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9KDUS59PR5</string>
						<key>name</key>
						<string>Dong Jun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>379ECACE87AFA5552625DD1B1574CA7002D58625</string>
						<key>dateExpires</key>
						<string>6/5/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9KDUS59PR5</string>
						<key>name</key>
						<string>Dong Jun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>379ECACE87AFA5552625DD1B1574CA7002D58625</string>
						<key>dateExpires</key>
						<string>6/5/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9KDUS59PR5</string>
						<key>name</key>
						<string>Dong Jun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>379ECACE87AFA5552625DD1B1574CA7002D58625</string>
						<key>dateExpires</key>
						<string>6/5/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9KDUS59PR5</string>
						<key>name</key>
						<string>Dong Jun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>379ECACE87AFA5552625DD1B1574CA7002D58625</string>
						<key>dateExpires</key>
						<string>6/5/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KakaoSDKAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9KDUS59PR5</string>
						<key>name</key>
						<string>Dong Jun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>2.10.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>379ECACE87AFA5552625DD1B1574CA7002D58625</string>
						<key>dateExpires</key>
						<string>6/5/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KakaoSDKCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9KDUS59PR5</string>
						<key>name</key>
						<string>Dong Jun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>2.10.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>379ECACE87AFA5552625DD1B1574CA7002D58625</string>
						<key>dateExpires</key>
						<string>6/5/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KakaoSDKLink.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9KDUS59PR5</string>
						<key>name</key>
						<string>Dong Jun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>2.10.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>379ECACE87AFA5552625DD1B1574CA7002D58625</string>
						<key>dateExpires</key>
						<string>6/5/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KakaoSDKTemplate.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9KDUS59PR5</string>
						<key>name</key>
						<string>Dong Jun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>2.10.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>379ECACE87AFA5552625DD1B1574CA7002D58625</string>
						<key>dateExpires</key>
						<string>6/5/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KakaoSDKUser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9KDUS59PR5</string>
						<key>name</key>
						<string>Dong Jun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>2.10.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>379ECACE87AFA5552625DD1B1574CA7002D58625</string>
						<key>dateExpires</key>
						<string>6/5/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NaverThirdPartyLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9KDUS59PR5</string>
						<key>name</key>
						<string>Dong Jun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.3</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9KDUS59PR5.com.blessing.channel.BlessingChannel</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>9KDUS59PR5</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>BlessingChannel.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>53751cc7-c560-43d3-b926-c8d89c066209</string>
				<key>dateExpires</key>
				<string>6/5/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.blessing.channel.BlessingChannel</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9KDUS59PR5</string>
				<key>name</key>
				<string>Dong Jun Kim</string>
			</dict>
			<key>versionNumber</key>
			<string>2.0</string>
		</dict>
	</array>
</dict>
</plist>
